.background {
  z-index: -1;
  position: fixed;
  overflow: hidden;
  top: 0px;
  left: 0px;
  background-color: #1C1C1C;
  height: 100%;
  width: 100%;

}

.loginbackground {
  z-index: -1;
  position: fixed;
  height: 300px;
  width: 400px;
  background-color: #1C1C1C;
  border-radius: 30px;
  opacity: .5;
  border: solid;
  border-width: 1px;
  border-color: darkgrey;
}

.loginwindow {
  font-family: "Archivo Black", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  height: 80vh;
}

.loginwindow form {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;

}

  .loginwindow h2 {
    font-weight: 600;
    color: white;
    padding-bottom: 5px;
    font-size: 18px;

  }

.loginwindow input {
  background-color: darkgrey;
  height: 20px;
  border-radius: 15px;
  margin-bottom: 25px;
  width: 225px;
  border:hidden;
}

  .loginwindow input:focus {
    outline-color: #1C1C1C;
  }

  .loginwindow input::placeholder {
    color: black;
  }

.loginbuttons {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.loginwindow button {
  background-color: grey;
  border-radius: 8px;
  width: 100px;
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
  border: hidden;
}

  .loginwindow button:hover {
    background-color: grey;
    opacity: .8;
  }