.books {
  position: relative;
  top: 120px;
  left: 245px;
  height: 900px;
  width: 100vw;
}

.books2 {
  position: relative;
  top: 95px;
  left: 245px;
  height: 900px;
  width: 100vw;
}

.book {
  border-bottom: solid;
  border-color: #504A4B;
  border-width: 2px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100vw;
  height: 50px;
}

.books h1 {
  font-family: "Archivo Black", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  color: white;
  padding: 20px;
  padding-left: 50px;
}

  .book:hover {
    background-color: #504A4B;
  }

.dropdown {
  z-index: -1;
  border-bottom: solid;
  border-top: solid;
  border-color: #504A4B;
  border-width: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.infowrapper h2 {
  position: fixed;
  font-family: "Archivo Black", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  color: white;
  margin-left: 40px;
  white-space: nowrap;
  padding-top: 5px;
  padding-left: 15px;
}

.infowrapper {
  display: flex;
  width: 100vw;
  height: 100px;
}

.info {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 600px;
  margin-top: 10px;
}


.row1 {
  color: white;
  font-family: "Archivo Black", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  display: flex;
  flex-direction: row;
}

  .row1 p {
    margin-right: 30px;
  }

.row2 {
  color: white;
  font-family: "Archivo Black", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  display: flex;
  flex-direction: row;
}

  .row2 p {
    margin-right: 30px;
  }

.x {
  font-family: "Archivo Black", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 1000;
  font-size: 14px;
  color: white;
  position: fixed;
  left: 260px;
  height: 20px;
  width: 25px;
  text-align: center;
}

.checkout {
  position: relative;
  top: 70px;
  left: 10px;
  border-radius: 10px;
  background-color: lightgrey;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid;
  border-width: 2px;
  border-color: #504A4B;
  box-shadow: none;
  font-family: "Archivo Black", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
}
.owned {
  position: relative;
  top: 70px;
  left: 10px;
  border-radius: 10px;
  background-color: grey;
  color: black;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid;
  border-width: 2px;
  border-color: #504A4B;
  box-shadow: none;
  font-family: "Archivo Black", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
}

.checkout:active {
  background-color: grey;
}

.checkin:active {
  background-color: grey;
}


.checkin {
  position: relative;
  top: 70px;
  left: 10px;
  border-radius: 10px;
  background-color: lightgrey;
  color: black;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid;
  border-width: 2px;
  border-color: #504A4B;
  box-shadow: none;
  font-family: "Archivo Black", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
}

.profilewrapper {
  position: fixed;
  left: 300px;
  top: 150px;
  display: flex;
}

  .profilewrapper h2 {
    color: white;
    font-family: "Archivo Black", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    margin:  15px;
  }

  .profilewrapper p {
    color: gray;
    font-family: "Archivo Black", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    position: relative;
    left: 25px;
    margin: 15px;
    margin-left: 0px;
  }

  .flexwrap {
    display: flex;
  }

.edit {
  position: fixed;
  top: 300px;
  left: 320px;
  border-radius: 10px;
  background-color: lightgrey;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid;
  border-width: 2px;
  border-color: #504A4B;
  box-shadow: none;
  font-family: "Archivo Black", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
}
